@use "@/assets/sass/variables" as *;

.featured-writer {
  display: flex;
  justify-content: space-evenly;
  height: 250px;
  align-items: center;
  margin-top: 10px;
  &__card-1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    &__img {
      height: 100px;
      width: 100px;
      border: 1px solid black;
      border-radius: 50%;
    }
  }
  &__card-2 {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  &__card-3 {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}

.featured-writer-header {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.featured-writer-wrapper {
  background-color: #f2f2f2;
  width: 80%;
  margin-top: 10px;
}
