@use "@/assets/sass/variables" as *;

.latest-article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: smaller;
  margin-bottom: 10px;
  width: 100%;
  &__picture {
    height: fit-content;
    width: fit-content;
  }
  &__info {
    margin-right: 10px;
    &__details {
      margin-bottom: 10px;
      color: $secondary-color;
      margin-top: 5px;
    }
    &__author {
      font-size: 12px;
    }
    &__date-time {
      color: $secondary-color;
      font-size: $secondary-fontsize;
      margin-top: 5px;
    }
  }
}
