@use "@/assets/sass/variables" as *;

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 50vw;
  &__img {
    width: 80%;
  }
  &__article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &__img {
      border: 1px solid black;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    &__header {
      font-size: $tertiary-fontsize;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__subheader {
      margin-bottom: 10px;
      color: $secondary-color;
    }
    &__data {
      &__date {
        color: $secondary-color;
      }
    }
  }
}
